/************ CSS styling reset *************
   Required to reset all browser default styles back to a baseline, as defined below
   Avoid redundant styling, e.g. don't define a property value here (such as 'body { line-height: 1; }') and then redefine it in your main css file (ie. body { line-height: 2; })
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


/************ CSS styling *************/
body {
	padding: 20px;
	/* font-family: arial; */
}

h1 {
    font-size: 30px;
    font-weight: bold;
}

h2 {
    font-size: 20px;
    /* font-weight: bold; */
    font-style: italic;
}

h3 {
	font-weight: bold;
	text-decoration: underline;
	font-style: italic;
}

p {
	font-size: 16px;
	font-style: italic;
	line-height: 24px;
}

strong {
	font-weight: bold;
}

.container {
	display: flex;
    width: 50%;
	background: lightblue;
	padding: 10px;
}

.container-short {
	width: 35%;
}

.row {
	flex-direction: row;
}

.column {
	flex-direction: column;
	height: 200px;
}

.wrap {
	flex-wrap: wrap;
}

.wrap-reverse {
	flex-wrap: wrap-reverse;
}

.item {
	background: #2486b7;
	margin: 5px;
	font-size: 30px;
	line-height: 50px;
	text-align: center;
	color: white;
}

.item-row {
	height: 50px;
}

.item-width-15 {
	width: 15%;
}

.item-width-30 {
	width: 30%;
}

/* Example 1 */
.item1-1, .item2-1, .item3-1 {
}

/* Example 2 */
.item1-2, .item2-2, .item3-2 {
	flex-grow: 1;
}

/* Example 3 */
.item1-3, .item3-3 {
	flex-grow: 1;
}

.item2-3 {
	flex-grow: 2;
}

/* Example 4 */
.item1-4 {
	flex-grow: 1;
	order: 3;
}

.item2-4 {
	flex-grow: 1;
	order: 1;
}

.item3-4 {
	flex-grow: 1;
	order: 2;
}

/* Example 5 */
.item1-5, .item2-5, .item3-5 {
	flex-grow: 1;
}

/* Example 6 */
.item1-6, .item2-6, .item3-6, .item4-6, .item5-6, .item6-6 {
	flex-grow: 1;
}

.item2-6 {
	width: 300px;
}

/* Example 7 */
.item1-7, .item2-7, .item3-7, .item4-7, .item5-7, .item6-7 {
	flex-grow: 1;
}

.item2-7 {
	width: 300px;
}

/* Example 8 */
.item1-8, .item3-8 {
	flex-grow: 2;
	flex-basis: 0;
}

.item2-8 {
	flex-grow: 1;
	flex-basis: 0;
}

/* Example 9 */
.item1-9, .item3-9 {
	flex-grow: 2;
	flex-basis: auto;
}

.item2-9 {
	flex-grow: 1;
	flex-basis: auto;
}

/* Example 10 */
.container-10 {
	justify-content: flex-start;
}

/* Example 11 */
.container-11 {
	justify-content: flex-end;
}

/* Example 12 */
.container-12 {
	justify-content: center;
}

/* Example 13 */
.container-13 {
	justify-content: space-between;
}

/* Example 14 */
.container-14 {
	justify-content: space-around;
}

/* Example 15 */
.container-15 {
	justify-content: space-evenly;
}

/* Example 16 */
.container-height200 {
	height: 200px;
}

.container-16 {
	align-items: flex-start;
}

.item-minheight90 {
	min-height: 90px;
}

.item-minheight150 {
	min-height: 150px;
}

.item-minheight50 {
	min-height: 50px;
}

.item-flex1 {
	flex: 1;
}

/* Example 17 */
.container-17 {
	align-items: flex-end;
}

/* Example 18 */
.container-18 {
	align-items: center;
}

/* Example 19 */
.container-19 {
	align-items: stretch;
}

/* Example 20 */
.container-20 {
	align-items: baseline;
}

.item1-20 {
	padding-top: 30px;
}

.item3-20 {
	padding-top: 10px;
}

/* Example 21 */
.item3-21 {
	align-self: flex-start;
}